<footer class="footer">
    <div class="container">
        <div class="row content-area">
            <div class="col-md-6 content-area">
                <p>Other languages: <a href="#">Català</a>, <a href="#">Česky</a>, <a href="#">Deutsch</a>, <a href="#">Español</a>, <a href="#">Français</a>, <a href="#">Magyar</a>, <a href="#">Italiano</a>, <a href="#">日本語</a>, <a href="#">Nederlands</a>, <a href="#">中文</a>.</p>
            </div>
            <div class="col-md-4 offset-md-2 content-area">
                <p>Thanks to <a href="http://www.webdev.nl" target="_blank">webdev.nl</a> for hosting lilypond.org.<br>About <a href="http://www.lilypond.org/website/misc/browser-language" target="_blank">automatic language selection</a>.</p>
                <!--<a href="https://validator.w3.org/" target="_blank"><img src="img/W3C_HTML5_certified.png"  width="102" height="36" alt="W3 HTML5 certified"></a><br><br>-->
            </div>
        </div>
    </div>
</footer>