body {
    background: url(../img/background-top-left.png) no-repeat top left;
    background-color: #f5fcf2;
    background-image: url(../img/background-top-right.png), url(../img/background-top-left.png);
    background-position: top right, top left;
    background-repeat: no-repeat;
    font-family: 'Cabin', sans-serif !important;
    letter-spacing: 1px;
}

nav {
    margin-top: 15px;
}

.content-area-main {
    margin-top: 50px;
}

.content-area {
    margin-top: 20px;
}

.header-info {
    margin-top: 40px;
}

.header-info-title {
    font-size: 75px;
}

.header-info-link {
    text-align: right;
}

.footer {
    background-color:#5cb85c;
    border-radius: 2px;
    color: #ffffff;
    margin-bottom: 15px;
}

.footer a {
    color: #c1c1c1;
}

.card-image-custom {
    margin-bottom: 10px;
}

.card {
    box-shadow: 1px 1px 5px #cce6d0;
}

.nav-link:hover {
    color: #cbcbcb !important;
}
