<div class="home-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 animated fadeIn">
                <h1>{website_name}</h1>
                <p>{website_description}</p>
            </div>
        </div>
    </div>
</div>
{nav1}
<div class="container">
    <div class="row" style="margin-top: 2em; margin-bottom: 2em;">
        <div class="col-md-5">
            <img src="assets/img/ready_720_9152d.png" class="img-fluid" width="100%">
        </div>
        <div class="col-md-7">
            <h2 style="margin-top: 1.75em;">Beautiful Sheet Music</h2>
            <p>LilyPond is a music engraving program, devoted to producing the highest-quality sheet music possible. It brings the aesthetics of traditionally engraved music to computer printouts. LilyPond is free software and part of the GNU Project.</p>
        </div>
    </div>
</div>
<div class="home-2 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 4em;">
                <h2 style="text-align: center;">Powerful and Flexible for Every Musician</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center" style="margin-bottom: 3.5em;">
                <div class="service-box">
                    <i class="fa fa-4x fa-music text-secondary"></i>
                    <h4>Classical Engraving</h4>
                    <p>LilyPond allows musicians to produce elegant sheet music that is easy to read.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center" style="margin-bottom: 3.5em;">
                <div class="service-box">
                    <i class="fa fa-4x fa-text-width text-secondary"></i>
                    <h4>Text Input</h4>
                    <p>LilyPond processes text input, which contains all of the content of your score.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center" style="margin-bottom: 3.5em;">
                <div class="service-box">
                    <i class="fa fa-4x fa-music text-secondary"></i>
                    <h4>Extensible Design</h4>
                    <p>All layout settings can be changed to suit your personal typographical taste.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-3 bg-inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 4em;">
                <h2 style="text-align: center;">Not Yet Convinced?</h2>
                <p style="text-align: center;">Take a look at some examples.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center" style="margin-bottom: 3.5em;">
                <div class="service-box-img">
                    <img src="assets/img/bach-bwv610.png" class="img-fluid" width="100%">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center" style="margin-bottom: 3.5em;">
                <div class="service-box-img">
                    <img src="assets/img/Stockhausen_Klavierstueck2.png" class="img-fluid" width="100%">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center" style="margin-bottom: 3.5em;">
                <div class="service-box-img">
                    <img src="assets/img/granados.png" class="img-fluid" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
{nav_footer1}